<div class="videos">
    <% @videos.each do |video| %>
        <div class="video-link">
          <%= link_to image_tag(video.thumbnail_url), video_url(video), :title => video.name %>
          <div class="info">
            <div class="name"><%= link_to(video.name, video_url(video)) %></div>
            <div class="description"><%= raw(truncate(video.description, :length => 100)) %></div>
          </div>
        </div>
    <% end %>
</div>